body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*takvim için*/




*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul{
  list-style-type: none;
  text-align: center;
  font-family: Verdana, sans-serif;
}
li:not(:first-child){
  cursor: pointer;
}
.calender{
  width: 90%;
  margin: auto;
  box-shadow: 2px 2px 4px rgba(0,0,0,.5);
}
.calender .month{
  background-color: #bdc3c7;
  padding: 40px;
  color: azure;
  width: 100%;
  position: relative;
}
.calender .month .next,.calender .month .prev{
  position: absolute;
  top: calc(50% - 15px);
  cursor: pointer;
  padding: 5px;
  display: block;
}
.calender .month .prev{
  left: 10px;
}
.calender .month .next{
  right: 10px;
}
.calender .month .next:hover,.calender .month .prev:hover{
  background-color: azure;
}
.calender .weeks{display: flex;}
.calender .weeks li{
  background-color: aliceblue;
  flex: 1;
  opacity: .5;
  position: relative;
  animation: motion 2s;
  padding: 10px; 
}
.calender .weeks li:hover{background-color: antiquewhite;}

.calender .days {
  display: flex;
  flex-wrap: wrap;
}
.calender .days li{
  flex-basis: calc(100% / 7);
  padding: 10px 0;
  opacity: .9;
  background-color: azure;
}
.calender .days li:hover{background-color: aliceblue;}

/*deneme takvim*/
