@model rendevusistemi.Database.Data.Appointments

@{
    ViewBag.Title = "Appointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="content-wrapper">
    <div class="container-fluid">
        @Html.Action("Scheduler1Partial")

    </div>
</div>
