
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ceylin Güzellik Salonu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstraptemple/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/bootstraptemple/css/modern-business.css" rel="stylesheet" />
    <link href="~/Content/bootstraptemple/css/scrolling-nav.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Content/Image/icon.png" />
    <style>
        li {
            float: left;
        }

            li a {
                display: block;
                color: rgba(255, 178, 178, 0.00);
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                li a:hover:not(.active) {
                    background-color: #fabfbd;
                }

                li a.active {
                    color: white;
                    background-color: #4CAF50;
                }

        section {
            padding: 0 0 0 0;
        }
    </style>
</head>
<body style="background-image: url('../../Content/Image/backBeyaz.jpg');background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover">

    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light fixed-top"
         style="background: rgba(255,255,255,1);
            background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, rgba(255,217,186,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(30%, rgba(255,255,255,1)), color-stop(100%, rgba(255,217,186,1)));
            background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, rgba(255,217,186,1) 100%);
            background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, rgba(255,217,186,1) 100%);
            background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, rgba(255,217,186,1) 100%);
            background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, rgba(255,217,186,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffd9ba', GradientType=1 );">
        <img src="~/Content/Image/icon.png" width="50" style="margin-left:1%" />
        <a class="navbar-brand" href="index.html" style="margin-left:5%"><img src="~/Content/Image/icon.jpeg" /></a>
        <button class="navbar-toggler  navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarResponsive" style="background-image: url('../../Content/Image/backBeyaz11.jpg');background-attachment:fixed;background-position:center;background-repeat:space;background-size:contain">
            <ul class="navbar-nav ml-auto" style="font-weight:600; font-size:16px;
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            border: 1px solid #ffe1e1;
            background-color: rgba(255, 152, 152, 0.00);">
                <li class="nav-item active">
                    <a class="nav-link" href="#Hakkımızda">Hakkımızda</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#hizmetlerimiz">Hizmetlerimiz</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link" href="#">
                        Salonumuz
                    </a>

                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#iletisim">İletişim</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Login", "Home")" style="float:right">
                        Kullanıcı Girişi
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>

    </nav>
    <header style="padding:0 0 0 0;">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url('../../Content/Image/03.jpg')">
                    <div class="carousel-caption d-none d-md-block">
                        <div style="background-color:rgba(255, 216, 198, 0.81);width:50%;margin:auto">
                            <h4 style="color:#461910">Ceylin Güzellik Salonu</h4>
                            <p style="color:#461910">
                                Şimdi Tam Zamanı
                                Ceylin Güzellik Salonu'na Uğramadan Vücut Bakımına Karar Vermeyin..
                            </p>
                        </div>

                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('../../Content/Image/07.jpg')">
                    <div class="carousel-caption d-none d-md-block">
                        <div style="background-color:rgba(255, 216, 198, 0.81);width:50%;margin:auto">
                            <h4 style="color:#461910">Ceylin Güzellik Salonu</h4>
                            <p style="color:#461910">
                                Şimdi Tam Zamanı
                                Ceylin Güzellik Salonu'na Uğramadan Vücut Bakımına Karar Vermeyin..
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('../../Content/Image/02.jpg')">
                    <div class="carousel-caption d-none d-md-block">
                        <div style="background-color:rgba(255, 216, 198, 0.81);width:50%;margin:auto">
                            <h4 style="color:#461910">Ceylin Güzellik Salonu</h4>
                            <p style="color:#461910">
                                Şimdi Tam Zamanı
                                Ceylin Güzellik Salonu'na Uğramadan Vücut Bakımına Karar Vermeyin..
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('../../Content/Image/10.jpg')">
                    <div class="carousel-caption d-none d-md-block">
                        <div style="background-color:rgba(255, 216, 198, 0.81);width:50%;margin:auto">
                            <h4 style="color:#461910">Ceylin Güzellik Salonu</h4>
                            <p style="color:#461910">
                                Şimdi Tam Zamanı
                                Ceylin Güzellik Salonu'na Uğramadan Vücut Bakımına Karar Vermeyin..
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>
    <!-- Page Content -->


    <section id="Hakkımızda">
        <div style="background-color:rgba(220, 105, 98, 0.84); border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
background-position:center;background-size:contain">
            <div class="container">

                <h1 class="my-4" style="color:aliceblue">Hakkımızda</h1>

                <div class="w3-panel w3-leftbar w3-dark-grey w3-hover-sand w3-hover-text-black w3-large w3-serif">
                    <p><i>Huzurlu atmosferi, güvenliği, teknolojik donanımı, deneyimli güler yüzlü ekibi ile estetik ve güzellik sektöründe Bursa’da merkezi konumuyla siz değerli müşterilerimizin hizmetinizdedir.</i></p>
                </div>
                <div class="w3-panel w3-rightbar w3-brown w3-hover-yellow w3-hover-text-black w3-large w3-serif">
                    <p align="right">
                        <i>
                            Ailenizden biri olmayı amaçlayan Ceylin Güzellik Salonu; son derece güvenli, hijyenik ve modern olan ve aynı zamanda zevkli bir tasarıma sahip
                            olan salonu ile değerli müşterilerine kendilerini evlerinde hissedecekleri sıcak, samimi ve konforlu bir ortam sunmaya devam ediyor.
                        </i>
                    </p>
                </div>
                <hr />
                <div>
                    <iframe class="mySlides w3-animate-fading" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D1806864016257924%26id%3D1801892870088372%26substory_index%3D0&width=500" width="100%" height="443" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                    <iframe class="mySlides w3-animate-fading" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D1801902600087399%26id%3D1801892870088372%26substory_index%3D0&width=500" width="100%" height="575" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                    @*yorumlar*@
                    <iframe class="mySlides w3-animate-fading" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Felif.acar.1829%2Fposts%2F10211010218319901%3A0&width=500" width="100%" height="334" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                    <iframe class="mySlides w3-animate-fading" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmunevver.arkun%2Fposts%2F1607865069231037%3A0&width=500" width="100%" height="334" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                    <iframe class="mySlides w3-animate-fading" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Ftuba.yurekli.5%2Fposts%2F1683174668667734%3A0&width=500" width="100%" height="316" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                    <iframe class="mySlides w3-animate-fading" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fhulya.kayabas.10%2Fposts%2F1069962569769144%3A0&width=500" width="100%" height="316" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
                <script>
                    var myIndex = 0;
                    carousel();

                    function carousel() {
                        var i;
                        var x = document.getElementsByClassName("mySlides");
                        for (i = 0; i < x.length; i++) {
                            x[i].style.display = "none";
                        }
                        myIndex++;
                        if (myIndex > x.length) { myIndex = 1 }
                        x[myIndex - 1].style.display = "block";
                        setTimeout(carousel, 9000);
                    }
                </script>
            </div>
        </div>
    </section>
    <!-- /.row -->
    <!-- Portfolio Section -->


    <section id="hizmetlerimiz">
        <div style="background-color:rgba(255, 249, 246, 0.70); border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
background-position:center;background-size:contain">
            <div class="container">
                <h2 style="text-align:center">Salonumuz</h2><br />
                <div class="row">
                    <div class="col-lg-4 col-sm-6 portfolio-item">
                        <div class="card h-100">
                            <img class="card-img-top" src="~/Content/Image/ceylinSalon.jpeg" alt="" onclick="document.getElementById('modal04').style.display='block'"></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    Salon Giriş

                                    <div id="modal04" class="w3-modal" onclick="this.style.display='none'">
                                        <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                                        <div class="w3-modal-content w3-animate-zoom">
                                            <img src="~/Content/Image/ceylinSalon.jpeg" style="width:100%">
                                        </div>
                                    </div>
                                    <hr />

                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.row -->
    <!-- Features Section -->
    <div style="background-color:rgba(151, 30, 30, 0.61); border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
background-position:center;background-size:contain">
        <div class="container" style="color:aliceblue">
            <div class="row">
                <div class="col-lg-12">
                    <br />
                    <h2 style="text-align:center">Hizmetlerimiz |<small>Vucüt Bakım </small> </h2><br />
                    <div class="row">

                        <div class="col-lg-3 mb-4">
                            <div class="w3-card-4 w3-hover-shadow w3-center w3-animate-opacity w3-animate-bottom w3-hover-aqua w3-green">
                                <h4 class="card-header">Epilasyon</h4>
                                <div class="card-body">
                                    <p class="card-text"><img class="card-img-top" src="~/Content/Image/05.jpg" alt=""></p>
                                </div>
                                <div class="card-footer">
                                    <a href="#" class="btn btn-info" style="background-color:rgba(255, 196, 196, 0.00); border:0">Detaylı bilgi</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 mb-4">
                            <div class="w3-card-4 w3-hover-shadow w3-center w3-animate-opacity w3-animate-bottom w3-hover-blue w3-deep-purple">
                                <h4 class="card-header">Cilt Bakımı</h4>
                                <div class="card-body">
                                    <p class="card-text"><img class="card-img-top" src="~/Content/Image/04.jpg" alt=""></p>
                                </div>
                                <div class="card-footer">
                                    <a href="#" class="btn btn-info" style="background-color:rgba(255, 196, 196, 0.00); border:0">Detaylı bilgi</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 mb-4">
                            <div class="w3-card-4 w3-hover-shadow w3-center w3-animate-opacity w3-animate-bottom w3-hover-aqua w3-light-blue">
                                <h4 class="card-header">Ağda</h4>
                                <div class="card-body">
                                    <p class="card-text"><img class="card-img-top" src="~/Content/Image/10.jpg" alt=""></p>
                                </div>
                                <div class="card-footer">
                                    <a href="#" class="btn btn-default" style="background-color:rgba(255, 196, 196, 0.00)">Detaylı bilgi</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 mb-4">
                            <div class="w3-card-4 w3-hover-shadow w3-center w3-animate-opacity w3-animate-bottom w3-hover-blue w3-pink">
                                <h4 class="card-header">İğneli Epilasyon</h4>
                                <div class="card-body">
                                    <p class="card-text">İçerik.</p>
                                </div>
                                <div class="card-footer">
                                    <a href="#" class="btn btn-default" style="background-color:rgba(255, 196, 196, 0.00)">Detaylı bilgi</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="container" style="background-image:url(../../Content/Image/icon.jpg); background-size:60%; background-position:center;background-position-x:right;background-repeat:no-repeat">
                        <h4>Bayanlarda epilasyon bölgeleri</h4>
                        <ul class="list-group">
                            <li class="list-group-item" style="background-color:rgba(255, 255, 255, 0.29)">
                                <h6 class="list-group-item-heading">Koltuk altı</h6>
                                <p class="list-group-item-text">Seans bilgisi (süre / periyot)</p>
                            </li>
                            <li class="list-group-item" style="background-color:rgba(255, 255, 255, 0.29)">
                                <h6 class="list-group-item-heading">Kol</h6>
                                <p class="list-group-item-text">Seans bilgisi (süre / periyot)</p>
                            </li>
                            <li class="list-group-item" style="background-color:rgba(255, 255, 255, 0.29)">
                                <h6 class="list-group-item-heading">Özel Bölge</h6>
                                <p class="list-group-item-text">Seans bilgisi (süre / periyot)</p>
                            </li>
                            <li class="list-group-item" style="background-color:rgba(255, 255, 255, 0.29)">
                                <h6 class="list-group-item-heading">Alt bacak üst bacak</h6>
                                <p class="list-group-item-text">Seans bilgisi (süre / periyot)</p>
                            </li>
                            <li class="list-group-item" style="background-color:rgba(255, 255, 255, 0.29)">
                                <h6 class="list-group-item-heading">Tam Bacak</h6>
                                <p class="list-group-item-text">Seans bilgisi (süre / periyot)</p>
                            </li>
                        </ul>
                    </div>
                    <hr id="iletisim" />
                </div>
            </div>
        </div>
    </div>
    <div style="background-color:rgba(96, 56, 69, 0.86); border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
background-position:center;background-size:contain">
        <div class="container" style="color:aliceblue">

            <div class="row">



                <div class="col-lg-12">
                    <br />
                    <p style="font-size:20px;font-weight:600;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align:center"><u>Harita & Ulaşım </u><hr /></p>
                    <p>
                        <img src="~/Content/Image/konum.png" width="20" />Reyhan Mh. Haşim İşcan Cd. Safranlık Çıkmazı Burçin 1 İş hanı Kat:3 No:314 | 38000 Bursa

                        <img src="~/Content/Image/phone.png" width="20" />0538 251 33 83
                        <img src="~/Content/Image/mail.png" width="20" />  e-mail
                        <a href="https://www.facebook.com/Ceylin-G%C3%BCzellik-Salonu-1801892870088372/?ref=br_rs" style="float:right">
                            <img src="~/Content/Image/facebook.png" width="50" />
                        </a>
                    </p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d761.9820834615623!2d29.061898629218163!3d40.18840832321772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca3e09ec8d4f03%3A0xf297906deceb1d21!2zQnVyw6dpbiAxIMSwxZ8gTWVya2V6aQ!5e0!3m2!1str!2str!4v1523636750490" frameborder="0" style="border:0" width="100%" height="300" allowfullscreen></iframe>

                    <hr />
                    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">Hizmet Sözleşmesi</button>

                    <hr />

                    <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" style="color:black">Hizmet Sözleşmesi</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                                </div>
                                <div class="modal-body">
                                    <pre style="color:black">
       HIZMET SATIŞ SÖZLEŞMESi     Tarih: .. / .. / .. 
1- Sarci bu hizmetleri ilgili yasa hükümlerine uygun 
olarak ve uzman katro ile sunmayı taahhüt eder.
2. Alict, un almuş olduğu hizmetlerin ve kullanılan 
malzemeler konusunda ayrıntılı bilgi sahibi olarak, 
satıcının iş yerinde görerek ve beğenerek sözleşmeyi
imzalamıştir. Lazer Epilasyon vücut bakumu ve Cilt bakımı 
ile ilgili aliciya sedef, kalp pili vs rahatsizliği 
olmadığı, hamile olma ya da oluşabilecek I. Derece 
yanıklar, cilt alerjileri, kızanmalar, su toplamalar 
ile ilgili ön bilgiler verilmiş aluci bunu kabul etmiş 
ve teyit ettirilmiştir.
3. Alıcınun bu süre içerisinde hizmetini engeller 
bir sağlik problemi çıkması veya hamile olmasi hususların 
hastane raporu ile belgelenmesi halinde, hizmet alıma
tedavi veya doğum sonrasına ertelenir,
4- Satıcı hizmetleri randevu sistemleri ile verir. 
Ayrıca randevu değiştime taleplerini "en geç 2 gün 
öncesinden bildirir ve işletme gün içinde uygun olan 
gün ve saatte mutabakat ile randevu verir.
                               
            CEYLIN Güzellik Salonu
ALICI                   SATICI
Ad:     Soyadi:         Ad:     Soyadi:
                                        </pre>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- Call to Action Section -->
    <div class="row mb-4">
        <div class="col-md-8">

        </div>
    </div>

    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-1">
        <div style="background-color:rgba(255, 224, 225, 0.70); margin-right:20px">
            <p class="m-0 text-right">Copyright &copy; Sahnedeki Muhendis</p>
        </div>
        <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/bootstraptemple/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/bootstraptemple/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>