
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Entry</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstraptemple/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/Entry.css" rel="stylesheet">
    <link rel=”shortcut icon” href="~/Content/Image/guzel.jpg" />
    <style>
        body, h1 {
            font-family: "Raleway", sans-serif;
            font-size: 16px;
        }

        body, html {
            height: 100%;
        }

        .bgimg {
            background-image: url(../../Content/Image/guzel.jpg);
            min-height: 100%;
            background-position: right;
            background-attachment: fixed;
            background-repeat: space;
            background-size: auto;

        }

        /****deneme****/

    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:#f6cfbd">
        <div class="container">
            <a class="navbar-brand" href="#" style="font-size:20px"><p style="font-size:28px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> Ceylin Güzellik Salonu</p> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#iletisim">İletişim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">|</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Login", "Home")">
                            Kullanıcı Girişi
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <!-- Portfolio Item Heading -->
        <h1 class="my-4">
            Epilasyon
            <small>ve Cilt bakım</small>
        </h1>
        <!-- Portfolio Item Row -->
        <div class="row">
            <div class="col-md-8">
                <img class="img-fluid" src="~/Content/Image/05.jpg" alt="">
            </div>
            <div class="col-md-4">
                <h3 class="my-3">Vucüt Bakım</h3>
                <p>
                    Şimdi Tam Zamanı
                    Ceylin Güzellik Salonu'na Uğramadan Vücut Bakımına Karar Vermeyin..
                </p>
                <h3 class="my-3">Bayanlarda</h3>
                <ul>
                    <li>Koltuk altı</li>
                    <li>Kol</li>
                    <li>Özel Bölge</li>
                    <li>Alt bacak üst bacak</li>
                    <li>Tam bacak</li>
                </ul>
                <h3 class="my-3">Erkeklerde</h3>
                <ul>
                    <li>Ense - Kulak</li>
                    <li>Omuz</li>
                    <li>Sırt</li>
                    <li>Yanak</li>
                    <li>Boyun</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
        <!-- Related Projects Row -->
        <h3 class="my-4">Galeri</h3>
        <div class="row">
            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="~/Content/Image/ceylinSalon.jpeg" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="~/Content/Image/02.jpg" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="~/Content/Image/03.jpg" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="~/Content/Image/04.jpg" alt="">
                </a>
            </div>
        </div>
        <div id="iletisim" class="container-fluid bg-grey">
            <p style="font-size:20px">İLETİŞİM</p>
            <div class="row">
                <div class="col-sm-8">
                    <p>
                        Şimdi Tam Zamanı
                        Ceylin Güzellik Salonu'na Uğramadan Vücut Bakımına Karar Vermeyin..
                    </p>
                    <p><span class="glyphicon glyphicon-map-marker"></span> Reyhan Mh. Haşim İşcan Cd. Safranlık Çıkmazı Burçin 1 İş hanı Kat:3 No:314 | 38000 Bursa</p>
                    <p><span class="glyphicon glyphicon-phone"></span> 0538 251 33 83 &emsp; <span class="glyphicon glyphicon-envelope"></span> e-mail</p>
                </div>
                <div class="col-sm-8 slideanim">
                    <div class="row">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d761.9820834615623!2d29.061898629218163!3d40.18840832321772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca3e09ec8d4f03%3A0xf297906deceb1d21!2zQnVyw6dpbiAxIMSwxZ8gTWVya2V6aQ!5e0!3m2!1str!2str!4v1523636750490" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-1 bg-light">
        <div class="container">
            <p class="m-0 text-right">Copyright &copy; SahnedekiMuhendis</p>
        </div>
        <!-- /.container -->
    </footer>

</body>
</html>
