<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS-->
    <link href="~/content/bootstraptemple/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/content/bootstraptemple/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="~/content/bootstraptemple/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/content/bootstraptemple/css/sb-admin.css" rel="stylesheet">
    <link href="~/content/Site.css" rel="stylesheet">

    <link href="~/content/Takvim.js" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">


</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Gösterge Paneli</a>
                </li>
                <li class="breadcrumb-item active">Göstergeler</li>
            </ol>
            <!-- Icon Cards-->
            <div class="row">
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-primary o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fa fa-fw fa-paste"></i>
                            </div>
                            <div class="mr-5">Randevu İstekleri</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="#">
                            <span class="float-left">Detay görüntüle</span>
                            <span class="float-right">
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-warning o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fa fa-fw fa-bell"></i>
                            </div>
                            <div class="mr-5">Yaklaşan Randevular</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="#">
                            <span class="float-left">Detay görüntüle</span>
                            <span class="float-right">
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-success o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fa fa-fw fa-medkit"></i>
                            </div>
                            <div class="mr-5">Randevu ekle</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="#">
                            <span class="float-left">Detay görüntüle</span>
                            <span class="float-right">
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-danger o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fa fa-fw fa-ban"></i>
                            </div>
                            <div class="mr-5">Randevu iptal</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="#">
                            <span class="float-left">Detay görüntüle</span>
                            <span class="float-right">
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>



        
        




        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit Task</h4>
                    </div>
                    <div class="modal-body">
                        <div class="">
                            <label for="editdueDate">Due Date</label>
                            <input type="text" id="editdueDate"></input>
                        </div>

                        <div class="">
                            <label for="editstatus">Status</label>
                            <input type="text" id="editstatus"></input>
                        </div>

                        <div class="">
                            <label for="editpriority">Priority</label>
                            <input type="number" id="editpriority"></input>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="editSave" type="button" class="btn btn-default" data-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card Columns Example Social Feed-->




        <div class="calender">
            <ul class="month">
                <li>
                    <h1>January</h1>
                    <h2>2016</h2>
                </li>
                <span class="prev">&#10094;</span>
                <span class="next">&#10095;</span>
            </ul>
            <ul class="weeks">
                <li>Sa</li>
                <li>Su</li>
                <li>Mo</li>
                <li>Tu</li>
                <li>We</li>
                <li>Th</li>
                <li>Fr</li>
            </ul>
            <ul class="days"></ul>
        </div>

        <script>
                /*global console*/
                //calender
                //month
                //prev
                //next
                //weeks
                //days

                //punblic variables
                var calender = document.querySelector(".calender"),//container of calender
                    topDiv = document.querySelector('.month'),
                    monthDiv = calender.querySelector("h1"),//h1 of monthes
                    yearDiv = calender.querySelector('h2'),//h2 for years
                    weekDiv = calender.querySelector(".weeks"),//week container
                    dayNames = weekDiv.querySelectorAll("li"),//dayes name
                    dayItems = calender.querySelector(".days"),//date of day container
                    prev = calender.querySelector(".prev"),
                    next = calender.querySelector(".next"),

                    // date variables
                    years = new Date().getFullYear(),
                    monthes = new Date(new Date().setFullYear(years)).getMonth(),
                    lastDayOfMonth = new Date(new Date(new Date().setMonth(monthes + 1)).setDate(0)).getDate(),
                    dayOfFirstDateOfMonth = new Date(new Date(new Date().setMonth(monthes)).setDate(1)).getDay(),

                    // array to define name of monthes
                    monthNames = ["January", "February", "March", "April", "May", "June",
                                  "July", "August", "September", "October", "November", "December"],
                    colors = ['#FFA549', '#ABABAB', '#1DABB8', '#953163', '#E7DF86', '#E01931', '#92F22A', '#FEC606', '#563D28', '#9E58DC', '#48AD01', '#0EBB9F'],
                    i,//counter for day before month first day in week
                    x,//counter for prev , next
                    counter;//counter for day of month  days;


                //display dayes of month in items
                function days(x) {
                    'use strict';
                    dayItems.innerHTML = "";
                    monthes = monthes + x;

                    /////////////////////////////////////////////////
                    //test for last month useful while prev ,max prevent go over array
                    if (monthes > 11) {
                        years = years + 1;
                        monthes = new Date(new Date(new Date().setFullYear(years)).setMonth(0)).getMonth();
                    }
                    if (monthes < 0) {
                        years = years - 1;
                        monthes = new Date(new Date(new Date().setFullYear(years)).setMonth(11)).getMonth();
                    }

                    lastDayOfMonth = new Date(new Date(new Date(new Date().setFullYear(years)).setMonth(monthes + 1)).setDate(0)).getDate();
                    dayOfFirstDateOfMonth = new Date(new Date(new Date(new Date().setFullYear(years)).setMonth(monthes)).setDate(1)).getDay();
                    /////////////////////////////////////////////////
                    yearDiv.innerHTML = years;
                    monthDiv.innerHTML = monthNames[monthes];
                    for (i = 0; i <= dayOfFirstDateOfMonth; i = i + 1) {
                        if (dayOfFirstDateOfMonth === 6) { break; }
                        dayItems.innerHTML += "<li> - </li>";
                    }
                    for (counter = 1; counter <= lastDayOfMonth; counter = counter + 1) {
                        dayItems.innerHTML += "<li>" + (counter) + "</li>";


                    }
                    topDiv.style.background = colors[monthes];
                    dayItems.style.background = colors[monthes];

                    if (monthes === new Date().getMonth() && years === new Date().getFullYear()) {

                        dayItems.children[new Date().getDate() + dayOfFirstDateOfMonth].style.background = "#2ecc71";
                    }
                }
                prev.onclick = function () {
                    'use strict';
                    days(-1);//decrement monthes
                };
                next.onclick = function () {
                    'use strict';
                    days(1);//increment monthes
                };
                days(0);

                //end
        </script>
    </div>

        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Çıkış yapmak mı istiyorsunuz?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Çıkış buyonuna basarak çıkablirsiniz.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="@Url.Action("Entry", "Home")">Çıkış</a>
                    </div>
                </div>
            </div>
        </div>
       
    </body>
</html>
