<div class="content-wrapper">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Data Table Example
        </div>
        <div class="card-body">
            @Html.Action("GridViewPartial")


        </div>
    </div>
</div>