

@model rendevusistemi.Database.Data.Job

<style>
    * {
        box-sizing: border-box;
    }

    #myInput {
        background-image: url('/css/searchicon.png');
        background-position: 10px 12px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #myUL {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

        #myUL li a {
            border: 1px solid #ddd;
            margin-top: -1px; /* Prevent double borders */
            background-color: #f6f6f6;
            padding: 12px;
            text-decoration: none;
            font-size: 18px;
            color: black;
            display: block;
        }

            #myUL li a:hover:not(.header) {
                background-color: #eee;
            }
</style>

<div class="container">
    <div class="card card-register mx-auto mt-5" style="background-color:#646262">
        <div class="card-header">
            <span class="label label-default" style="color:#ffffff"> <h5 style="text-align:center"><i class="fa fa-spinner fa-pulse fa-x fa-fw"></i>&emsp;Operasyon Kaydet</h5></span>
            @* Sistem tarihi bu kodlarla çekilip gösterilecek ve hangi saatte hangi tarihte kayıt edildi bilgisi tutulacak.
                labelID.Text = DateTime.Now.ToLongTimeString();
                labelID.Text = DateTime.Now.ToShortDateString();*@
        </div>
        <div class="card-body">
            @using (@Html.BeginForm())
            {
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-1">
                            <i class="fa fa-medkit fa-2x" style="color:white" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-11">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @id = "exampleInputName", @type = "text", @placeholder = "Operasyon Adı" })
                        </div>
                    </div>




                    <div class="text-center">
                        <br>
                        <input type="submit" value="KAYDET" class="btn btn-primary btn-block" />
                    </div>
                </div>


            }
            <div class="text-center">
                <a class="d-block small mt-3" style="color:gold" href="@Url.Action("index","Home")"><i class="fa fa-home fa-2x" aria-hidden="true"></i>&emsp;Ana Sayfa</a>
            </div>

        </div>
        
    </div>
    <h2>CAN ARAMA DENEME</h2>

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

    <ul id="myUL">
        <li><a href="#">CAN</a></li>
        <li><a href="#">ÇAĞRI</a></li>

        <li><a href="#">CİHAN</a></li>
        <li><a href="#">AYŞE</a></li>

        <li><a href="#">NEŞE</a></li>
        <li><a href="#">ADALET</a></li>
        <li><a href="#">ECE</a></li>
    </ul>

    <script>
            function myFunction() {
                var input, filter, ul, li, a, i;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                ul = document.getElementById("myUL");
                li = ul.getElementsByTagName("li");
                for (i = 0; i < li.length; i++) {
                    a = li[i].getElementsByTagName("a")[0];
                    if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "";
                    } else {
                        li[i].style.display = "none";

                    }
                }
            }
    </script>
</div>







<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin Java1Script-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

